<p>{{# str }}indexpagefriendlyintro, report_assignaudit{{/ str }}</p>

<aside>
{{{ assignrange_form }}}
</aside>

{{# courses_with_assigns }}
	<h3 class="course-with-assigns"><a href="{{ courselink }}">{{ fullname }}</a></h3>

	{{{ assigns_table }}}	

{{/ courses_with_assigns }}
