<p>{{# str }}indexpagefriendlyintro, report_assignaudit{{/ str }}</p>

<aside>
{{{ assignrange_form }}}
</aside>

{{# courses_with_assigns }}
	<h3>{{ fullname }}</h3>

	{{{ assigns_table }}}	

{{/ courses_with_assigns }}
